/* 容器整体样式 */
.segments {
  background-color: rgb(219, 219, 219);
  width: calc(100% - 10px);
  height: 95%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box; /* 保证内边距不影响大小 */
  border: 1px solid #ddd; /* 添加边框 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.segments-menu {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box; /* 保证内边距不影响大小 */
  border: 1px solid #ddd; /* 添加边框 */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* 图片菜单样式 */
.segments-menu1 {
  width: 65%;
  display: flex;
  justify-content: flex-start; /* 从左向右排列 */
  gap: 50px; /* 图片之间的间距 */
  
  /* margin-bottom: 10px; */
  border-right: 5px solid #ffffff; /* 在右边添加一个竖线 */
}

.segments-menu2 {
  width: 35%;
  display: flex;
  justify-content: flex-start; /* 从左向右排列 */
  gap: 50px; /* 图片之间的间距 */
  /* margin-bottom: 10px; */
  margin-left:20px ;
}

.menu-image {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden; /* 确保图片不会超出容器 */
  border: 2px solid transparent; /* 默认无边框 */
  transition: transform 0.3s ease, border 0.3s ease;
  background-color: #EEEEEE;
  display: flex; /* 设置为 flex 容器 */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}

.menu-image img {
  width: 80%;
  height: 80%;
  object-fit: contain; /* 确保图片保持比例 */
}

.menu-image:hover {
  transform: scale(1.1); /* 鼠标悬停时放大 */
}

.menu-image.selected {
  border: 3px solid #D19762; /* 选中状态下的边框颜色 */
  background-color: #DBD5D0;
}


/* 下方输入区域样式 */
.segments-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* 输入框和发送按钮之间的间隔 */
}

.segments-input {
  flex: 1; /* 占据剩余空间 */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px; /* 输入框内边距 */
  font-size: 20px;
  line-height: 1.0; /* 文本行高 */
  color: #333; /* 文本颜色 */
  background-color: #fff; /* 背景颜色 */
  box-sizing: border-box;
  resize: none; /* 禁止用户调整输入框大小 */
  overflow-y: auto; /* 内容超出时滚动 */
  caret-color: black; /* 输入光标颜色 */
}

.segments-input:focus {
  border-color: #007bff; /* 输入框聚焦时的边框颜色 */
  outline: none; /* 移除默认的聚焦外框 */
}

/* 发送按钮样式 */
.send-button {
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #007bff; /* 按钮背景颜色 */
  color: white; /* 按钮文字颜色 */
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
}
